.courses_container {
    display: grid;
    grid-template-columns: 1fr;
}

.course {
    padding: 2rem;
    margin-bottom: 1rem;
    background: var(--background-color-variant);
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    height: fit-content;
    transition: var(--transition);
}

.course:hover {
    background: transparent;
    border-color: var(--primary-color-variant);
    cursor: default;
}

.button_courses {
    margin-top: 1rem;
    background: var(--background-color-variant);
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
}

/* media queries for tablets and medium devices*/
@media screen and (max-width: 1024px) {
    .courses_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .course {
        height: auto;
        gap: 1rem;
    }
}

/* media queries for phones and small devices*/
@media screen and (max-width: 600px) {
    .courses_container {
        grid-template-columns: 1fr;
    }

    .course {
        gap: 1rem;
    }
}