.skill_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skill_container>div {
    background: var(--background-color-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color-variant);
    transition: var(--transition);
}

.skill_container>div:hover {
    background: transparent;
    border: 1px solid transparent;
    border-color: var(--primary-color-variant);
    cursor: default;
}

.skill_container>div h3 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
}

.skill_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

/*.skill_details{
    display: flex;
    gap: 1rem;
}*/
.skill_details_icon {
    margin-top: 6px;
    color: var(--primary-color);
}

/* media queries for tablets and medium devices*/
@media screen and (max-width: 1024px) {
    .skill_container {
        grid-template-columns: 1fr;
    }

    .skill_container>div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .skill_content {
        padding: 1rem;
    }
}

/* media queries for phones and small devices*/
@media screen and (max-width: 600px) {
    .skill_container {
        gap: 1rem;
    }

    .skill_container>div {
        width: 85%;
        padding: 2rem 1rem;

    }
}